html, body {
    padding: 0px;
    margin: 0px;
    cursor: none;
}

#mainBody {
    width: 1600px;
    height: 900px;
    /* cursor: none; */
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    background-color: #7aa9fc;
    border: 1px solid black;
}

#upgradePanel {
    position: absolute;
    /* cursor: auto; */
    
    right: 0px;
    width: 350px;
    height: 100%;
 
    background-image: url("../img/UpgradePanel.png");
    z-index: 3;
}

#footerBody {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#soundOpt {
    width: 10px;
}

#soundOpt:hover {
    /* cursor: pointer; */
}

.localButtons button {
    border: none;
    text-decoration: none;
    background-color: #e7e7e7;
    /* cursor: pointer; */
    padding: 5px 32px;
}
#saveBtn {
    color: white;
    background-color: #555555;
}
